# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.suo
/Debug
/3SAT-Generator/3SAT-Generator/Debug
/3SAT-Verifier/3SAT-Verifier/Debug
/VC-Generator/VC-Generator/Debug
/VC-Verifier/VC-Verifier/Debug
/Release
/3SAT-Generator/3SAT-Generator/Release
/3SAT-Verifier/3SAT-Verifier/Release
/VC-Generator/VC-Generator/Release
/VC-Verifier/VC-Verifier/Release
/WorkFlow/Debug
/WorkFlow/Release
